<p>This server is run by Andy Balaam. I am very happy to hear from you!</p>

<ul>
    <li><b>Email:</b> mail at artificialworlds dot net</li>
    <li><b>Matrix:</b> @andybalaam:matrix.org</li>
    <li>
        <b>Mastodon:</b>
        <a href="https://mastodon.social/@andybalaam">@andybalaam@mastodon.social</a>
    </li>
</ul>

<p>Security problems should be reported to me directly via one of the above,
preferably Matrix (since it's end-to-end encrypted).</p>

<p>
To report bugs or suggest features use the <a
href="https://gitlab.com/andybalaam/santa-circles/-/issues">issue tracker</a>.
</p>
