/*
white: #ffffff
light green: #a3c0aa
dark green: #1d4431
dark red: #671612
bright red: #ea4033
*/


html {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #ccc;
    color: #1d4431;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #f4f2f3;
    padding: 1em;
    max-width: 50em;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header.user {
    background-color: #a3c0aa;
    display: flex;
    justify-content: space-between;
    column-gap: 0.6em;
    padding: 0.6em;
    border-radius: 0.2em;
}

header.notification {
	animation: 0.5s fade_green_to_white;
    background-color: #a3c0aa;
    border-radius: 0.8em;
    color: #ffffff;
    font-weight: bold;
    padding: 0.6em;
    text-align: center;
    margin: 0.2em;
}

header.notification a {
	animation: 0.5s fade_green_to_white;
    color: #ffffff;
}

header.notification.error a {
	animation: 0.5s fade_red_to_white;
}

header.notification.error {
	animation: 0.5s fade_red_to_white;
    background-color: #ea4033;
}

header.notification .reg-code {
    background-color: #1d4431;
	animation: 0.5s fade_darkgreen_to_white;
    padding: 0.1em 0.2em;
    border-radius: 0.3em;
}

p.intro {
    margin-bottom: 0em;
    margin-top: 0.4em;
}

p.intro ul {
    margin-bottom: 0em;
    margin-top: 0.4em;
}

.footer-expand {
    flex-grow: 1;
}

footer {
    margin-top: 3em;
    border-top: 0.3em dotted rgba(163, 192, 170, 0.3);
    font-size: 70%;
    text-align: center;
}

@keyframes fade_green_to_white {
	0% { color: #a3c0aa; }
	100% { color: #ffffff; }
}

@keyframes fade_darkgreen_to_white {
	0% { color: #1d4431; }
	100% { color: #ffffff; }
}

@keyframes fade_red_to_white {
	0% { color: #ea4033; }
	100% { color: #ffffff; }
}

@keyframes fade_red_to_transparent {
	0% { background-color: rgba(234, 64, 51, 1.0); }
	100% { background-color: rgba(234, 64, 51, 0.0); }
}

nav {
    background-color: #a3c0aa;
    display: flex;
    justify-content: space-between;
    column-gap: 0.6em;
    padding: 0.6em;
    border-radius: 0.2em;
}

a {
    color: #1d4431;
}

a.emphasised {
    color: #671612;
    font-size: 1.2em;
    font-weight: bold;
}

.recipient {
    color: #671612;
    font-size: 1.5em;
}

.namevalue {
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    column-gap: 0.6em;
    row-gap: 0.6em;
    align-items: center;
    margin-bottom: 1em;
}

form.players,form.wishlist {
    display: block;
}

form.players,form.wishlist input[type="submit"] {
    margin: 0.3em;
}

form.wishlist input {
    width: 100%;
}

input {
    font-size: 1em;
    padding: 0.2em;
    min-width: 2em;
}

label {
    font-weight: bold;
    text-align: right;
}

.remember input {
    min-width: unset;
    padding: unset;
    font-size: unset;
    vertical-align: baseline;
}

.remember label {
    font-weight: normal;
}

.remember .forgot_password {
    float: right;
    font-size: 80%;
}

input[type="submit"] {
    font-size: 1em;
    padding: 0.4em;
}

input[type="submit"].danger {
    color: #ea4033;
}

input[type="submit"].end-submit {
    margin-left: 0.2em;
}

table {
    width: 100%;
    margin-bottom: 0.5em;
}

th {
    text-align: left;
}

th.wishlist {
    font-size: 65%;
    width: 2em;
}

td {
    text-align: center;
}

td a {
    text-decoration: none;
}

td input {
    width: 100%;
}

td.reveal {
    text-align: left;
}

td.reveal summary {
    display: inline;
    opacity: 0.8;
    font-size: 80%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
}

table.draw {
    width: auto;
}

.warnings {
	animation: 1.5s fade_red_to_transparent;
    padding: 1em;
    border: 0.3em solid rgb(234, 64, 51);
    margin-top: 0.5em;
}

.warnings h2 {
    margin-top: 0em;
    margin-bottom: 0.3em;
}

.warnings p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.warnings .draw-warning {
    color: #671612;
}

.warnings .draw-info {
    color: #1d4431;
}

.cookie-warning {
    font-size: 80%;
}

.info {
    vertical-align: super;
    font-size: 70%;
    text-decoration: none;
}

#info_draw_date, #close_info_draw_date {
    display: none;
    position: fixed;
    top: 0em;
    left:0em;
    margin-top: calc(50vh - 2em);
    margin-left: calc(50vw - 15em);
    margin-bottom: calc(50vh - 2em);
    margin-right: calc(50vw - 15em);
    width: 30em;
    height: 5em;
    background-color: white;
    border: 0.2em solid black;
    border-radius:0.2em;
    box-shadow: 0px 0px 10px 5px #ccc;
    padding: 0.2em;
}

#info_draw_date a {
    position: absolute;
    right: 0.2em;
    bottom: 0.2em;
    font-size: 80%;
}

#info_draw_date:target {
    display: block;
}

#delete-circle-buttons button {
    font-size: 100%;
}

#delete-circle-buttons label {
    font-weight: normal;
    text-align: left;
    padding-left: 0.1em;
}

#delete-circle-buttons #delete_circle_sure {
    min-width: inherit;
    padding-right: 0.1em;
    margin-left: 1em;
}
